@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap') ;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #412728;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes anime {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  animation: anime 10s ease infinite;
  background: linear-gradient(45deg, black, #2a272a);
  background-size: 200% 200%;
  color: white;
  font-family: Open Sans , sans-serif;
}

.main {
  background-color: #412728;
  color: white;
  height: 100vh;
  margin: auto;
  max-width: 414px;
  width: 100%;
}
