@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') ;

* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #b1bdc5;
}

::-webkit-scrollbar-thumb {
  background-color: #3a3430;
  border-radius: 20px;
}

body {
  background-color: #b1bdc5;
  color: #3a3430;
  font-family: Montserrat , system-ui , sans-serif;
}
